################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/*
/Core/docs/html
/Runtime/docs/html
/Plugins/Models/Spatial/docs/html
/Plugins/Assets/Leap/docs/html
/Plugins/Models/Body/docs/html
/Plugins/RecognitionProcessors/Body/docs/html
/Plugins/Models/AudioVisual/docs/html
