################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/*
/Core/docs/html
/Runtime/docs/html
/Plugins/Models/Spatial/docs
/Plugins/Models/Spatial/docs
