################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Efficio/v15/ipch/AutoPCH
/.vs/Efficio/v15/Browse.VC.opendb
/.vs/Efficio/v15/Browse.VC.opendb
/.vs/slnx.sqlite
